@font-face {
	font-family:'__DIN Pro_5';src:url('../fonts/dinpro.eot');src:local('☺'), url('../fonts/dinpro.woff') format('woff');font-weight:400;font-style:normal;
}

@font-face {
	font-family:'__DIN Pro_5';src:url('../fonts/dinpro-medium.eot');src:local('☺'), url('../fonts/dinpro-medium.woff') format('woff');font-weight:500;font-style:normal;
}

@font-face {
	font-family:'__DIN Pro_5';src:url('../fonts/dinpro-bold.eot');src:local('☺'), url('../fonts/dinpro-bold.woff') format('woff');font-weight:700;font-style:normal;
}

@font-face {
	font-family:'__DIN Pro_5';src:url('../fonts/dinpro-light.eot');src:local('☺'), url('../fonts/dinpro-light.woff') format('woff');font-weight:300;font-style:normal;
}

html{
	color:#000;
}
* {

box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    z-index: -2;
    position: relative;
}
header {
	/*background: transparent url(../images/background1.jpg?crc=4118910799) no-repeat center top;*/
	background: transparent url("../images/background1.png?crc=97601318") no-repeat center top;
	z-index: 2;
    opacity: 1;
    padding-top: 25px;
    background-size: 100% 100%;
    min-height: 1000px;
}
header.trade {
	/*background: transparent url(../images/background1.jpg?crc=4118910799) no-repeat center top;*/
	background: #f7f6f7 url("../images/background1.png?crc=97601318") no-repeat center top;
	z-index: 2;
    opacity: 1;
    padding-top: 25px;
    background-size: 100% 100%;
    min-height: 1000px;
}
.result {
    padding: 10px;
    margin-top: 10px;
}
.logo-container {
    max-width: 20%;
    display: inline-block;
    /* margin-left: 5%; */
    position: absolute;
    left: 5%;
    bottom: -30px;
}
.contact-container {
width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25%;
        padding-bottom: 15px;
}
.shedule p {
    background-color: transparent;
    line-height: 26px;
    font-size: 22px;
    color: #F9DC21;
    font-family: '__DIN Pro_5';
    font-weight: 400;
    margin: 0;
}
.top-socs p {
    margin: 0;
}
.top-socs p a {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 400;
    font-size: 20px;
    font-family: '__DIN Pro_5';
    line-height: 26px;
    text-decoration: none;
}
.top-socs {
    padding-left: 0;
    padding-top: 10px;
}
.top-socs p img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
}
.shedule {
    padding-left: 0;
}
.top-adress {
    text-align: right;
    line-height: 26px;
    font-size: 20px;
    padding-left: 0px;
}
.top-adress p {
    color: #F9DC21;
    background-color: transparent;
    font-weight: 400;
    font-family: '__DIN Pro_5';
    margin: 0;
}
p.phone a {
    color: #F9DC21;
    background-color: transparent;
    font-weight: 700;
    font-size: 26px;
    font-family: '__DIN Pro_5';
    line-height: 26px;
}
.menu-container nav {
    padding-left: 25%;
    background-color: #0F1168;
}
ul.uk-navbar-nav>li>a {
    background-color: transparent;
    line-height: 29px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: '__DIN Pro_5';
    font-weight: 500;
    transition: all .3s linear;
}
.uk-navbar-left {
    width: 100%;
}
ul.uk-navbar-nav {
    width: 100%;
    justify-content: space-around;
}
ul.uk-navbar-nav>li:hover>a, ul.uk-navbar-nav>li.uk-active>a, ul.uk-navbar-nav>li>a:focus, ul.uk-navbar-nav>li>a:active {
	color: #F9DC21;
}
.top-description {
    padding-top: 30px;
}
.description-text {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    min-height: 260px;
    line-height: 48px;
    font-size: 40px;
    margin-top: 40px;
    width: 58.34%;
    color: #FFFFFF;
    position: relative;
    font-weight: 700;
    z-index: 233;
    left: 15px;
    background-color: transparent;
    font-family: '__DIN Pro_5';
}
.description-text span {
    font-size: 50px;
}
.desc-form {
    width: 39%;
    display: inline-block;
}
form.callback-form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    margin-left: auto;
    border-color: #0035E5;
    border-style: solid;
    border-width: 10px;
    position: relative;
    z-index: 279;
    background-color: #F9F9F9;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.18), 0px 0px 20px rgba(0,0,0,0.18);
    text-align: center;
}
h3.form-title {
    color: #393939;
    min-height: 86px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 36px;
    z-index: 308;
    background-color: transparent;
    text-align: center;
    font-family: '__DIN Pro_5';
    line-height: 43px;
    margin: 0;
}
hr.form-title-bottom {
    z-index: 280;
    border-radius: 5px;
    background-color: #0F1168;
    position: relative;
    width: 100px;
    margin-top: 24px;
    height: 6px;
    margin: 20px auto;
}
.input-container input {
    color: #B5B5B5;
    min-height: 0px;
    text-align: center;
    padding: 6px;
    font-weight: 300;
    width: 266px;
    font-size: 18px;
    font-family: '__DIN Pro_5';
    height: 36px;
    margin-bottom: 10px;
}
.checkbox {
    width: 266px;
    margin: 0 auto;
}
.checkbox input {
    display: inline-block;
}
.checkbox p {
    display: inline;
}
button.btn-submit {
    background: linear-gradient(to bottom,#F9DC21 ,#DCBE00 100%);
    color: #000000;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF9DC21', endColorstr='#FFDCBE00', GradientType=0)";
    font-size: 24px;
    margin-top: 30px;
    /* height: 43px; */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF9DC21, endColorstr=#FFDCBE00, GradientType=0);
    text-align: center;
    
    border-color: #666666;
    width: 280px;
    /* margin-right: -10000px; */
    font-family: '__DIN Pro_5';
    line-height: 43px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
        margin-bottom: 15px;
}
button.btn-submit:hover {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2), 0px 0px 8px rgba(0,0,0,0.2);
}
.top-image {
    text-align: center;
    margin-top: 15px;
}
section#preference {
    margin-top: 40px;
}
.block-title {
    text-align: right;
    margin-bottom: 100px;
}
.block-title img {
    display: inline-block;
    vertical-align: middle;
}
.block-title span {
    color: #0F1168;
    /* min-height: 72px; */
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    z-index: 3;
    background-color: transparent;
    font-family: '__DIN Pro_5';
    line-height: 36px;
    font-size: 30px;
    text-align: right;
    /* width: 60%; */
    display: inline-block;
    vertical-align: middle;
}
.preference-block {
    text-align: center;
}
.pref-img {
    height: 160px;
}
.pref-title {
    font-weight: 700;
    font-size: 24px;
    font-family: '__DIN Pro_5';
    line-height: 29px;
}
.pref-body {
    font-weight: 400;
    font-size: 18px;
    font-family: '__DIN Pro_5';
    line-height: 22px;
    margin-top: 20px;
}
section#socials{
    background: transparent url(../images/background2.png?crc=511663316) no-repeat center center;
    background-size: 100% 100%;
    min-height: 750px;
    padding-top: 200px;
    padding-bottom: 250px;
}
.socials-block {
    z-index: 64;
    background-color: #F9F9F9;
    border-width: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.18), 0px 0px 20px rgba(0,0,0,0.18);
    border-style: solid;
    border-color: #0035E5;
    position: relative;
    height: 220px;
}
.social1:after {
    content: "";
    position: absolute;
    height: 40%;
    width: 6px;
    background-color: #EEEEEE;
    right: -3px;
    top: 30%;
}
.socials {
    width: 50%;
    display: inline-block;
    text-align: center;
    float: left;
    line-height: 198px;
    position: relative;
    /* line-height: 28px; */
    font-size: 40px;
}
.socials a {
    font-weight: 700;
    min-height: 34px;
    position: relative;
    z-index: 72;
    background-color: transparent;
    font-family: '__DIN Pro_5';
    color: #000;
    text-decoration: none;
}
.socials a img {
    margin-right: 10px;
}
.uk-card-body {
    padding: 15px;
}
h3.uk-card-title {
    font-weight: 700;
    font-size: 24px;
    font-family: '__DIN Pro_5';
    line-height: 29px;
    position: relative;
    padding-bottom: 20px;
}
h3.uk-card-title:after {
    content: "";
    position: absolute;
    border-bottom: 1px #000 solid;
    width: 40%;
    bottom: 0;
    left: 0;
}
.uk-card.uk-card-default {
    min-height: 650px;
}
.uk-navbar-dropdown {
    background: #0f1168;
}
.uk-navbar-dropdown ul li a {
    color: #fff;
    text-transform: uppercase;
}
.uk-navbar-dropdown ul li a:hover {
	    color: #F9DC21;
}
.testimonials {
    padding-bottom: 80px;
}
a.all-testimonials {
    display: block;
    background: linear-gradient(to bottom,#0035E5 ,#0F1168 100%);
    width: 560px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-family: '__DIN Pro_5';
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    margin: 0 auto;
}
a.all-testimonials:hover {
	    background: linear-gradient(to bottom,#141414 ,#0F1168 100%);
}
section#testimonials {
    /*padding-bottom: 60px;*/
}
.map-container {
    z-index: 242;
    background-color: #0F1168;
    /* margin-right: -10000px; */
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2), 0px 0px 20px rgba(0,0,0,0.2);
    position: relative;
    margin-top: 291px;
    position: relative;
}
section#map {
    padding-bottom: 59px;
    /*background: transparent url(../images/bacgroundfooter.jpg?crc=3940829269) no-repeat center top;*/
    background: transparent url(../images/bacgroundfooter.png?crc=239803810) no-repeat center top;
    background-size: 100% 100%;
}
section#map.trade {
    background: #f7f6f7 url(../images/bacgroundfooter.png?crc=239803810) no-repeat center top;
}
.map-container iframe {
    width: 100%;
}
.map-form {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.footer-logo {
    width: 16%;
    display: inline-block;
    margin-left: 5%;
}
footer {
    border-color: #0F1168;
    background-color: #0F1168;
    border-style: solid;
    border-width: 1px 0px 0px;
        padding-top: 20px;
}
.contact-container.footer-cont {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    padding-bottom: 15px;
}
.unic-content {
    display: inline-block;
    max-width: 65%;
    background: linear-gradient(to right,#EEEEEE ,#FFFFFF 100%);
    height: 197px;
    position: relative;
    left: -10%;
    float: left;
    padding-left: 12%;
    padding-top: 20px;
    z-index: 1;
}
.unic-content h3 {
    font-weight: 700;
    padding-right: 30px;
    font-size: 24px;
    font-family: '__DIN Pro_5';
    line-height: 29px;
}
.unic-content p {
    font-weight: 400;
    padding-right: 30px;
    font-size: 18px;
    font-family: '__DIN Pro_5';
    line-height: 22px;
}
.unic-block.reverse .unic-content {
    left: 0;
    background: #fff;
        padding-left: 0;
}
.unic-image {
    display: inline-block;
    float: left;
    z-index: 999;
    position: relative;
}
section#price {
    background: transparent url(../images/background5.png?crc=138019655) no-repeat center top;
    background-size: 155% 100%;
    min-height: 750px;
    padding-top: 300px;
    padding-bottom: 350px;
    position: relative;
    bottom: -19rem;
    z-index: -1;
    margin-top: -22rem;
}
.uk-modal-dialog {
    width: 350px;
    padding: 0;
}
.description-text p {
    color: #FFFFFF;
    min-height: 36px;
    /* margin-right: -10000px; */
    position: relative;
    font-weight: 400;
    z-index: 274;
    background-color: transparent;
    font-family: '__DIN Pro_5';
    line-height: 36px;
    font-size: 30px;
    margin: 0;
}
section#catalog {
    margin-top: 60px;
}
h3.product-header {
    color: #FFFFFF;
    min-height: 55px;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    z-index: 126;
    background-color: #0F1168;
    text-align: center;
    width: 100%;
    font-family: '__DIN Pro_5';
    margin: 0;
    line-height: 53px;
}
.product-img {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px #EEEEEE solid;
}
a.product-button {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    padding-bottom: 13px;
    padding-top: 13px;
    z-index: 131;
    border-color: #787878;
    width: 100%;
    background: transparent url(../images/button.jpg?crc=4146453263) no-repeat center center;
    background-size: cover;
    display: block;
    color: #393939;
    min-height: 29px;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    z-index: 132;
    background-color: transparent;
    text-align: center;
    font-family: '__DIN Pro_5';
    letter-spacing: 1px;
    line-height: 29px;
    text-decoration: none;
    transition: all .3s linear;
}
a.product-button:hover {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2), 0px 0px 8px rgba(0,0,0,0.2)
}
.border {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0;
    border: 10px #0F1168 solid;
    z-index: -1;
    left: 20%;
    padding: 10px;
}
.center {
    width: 100%;
    height: 100%;
    background: #0032d2;
}
.img-calculate {
    display: inline-block;
    position: relative;
    /* padding: 10px; */
    /* min-width: 50%; */
    max-width: 582px;
    /* height: 600px; */
}
.step {
    font-weight: 400;
    min-height: 60px;
    position: relative;
    z-index: 242;
    background-color: #F9DC21;
    text-align: left;
    font-family: '__DIN Pro_5';
    margin-bottom: 10px;
    line-height: 60px;
    font-size: 30px;
}
.number {
    display: inline-block;
    width: 60px;
    width: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    background: #0F1168;
    color: #fff;
    float: left;
}
.step-text {
    display: inline-block;
    float: left;
    padding-left: 15px;
}
.algorytm {
    float: right;
    width: 50%;
}
.algorytm p a {
    font-family: '__DIN Pro_5';
    line-height: 36px;
    font-weight: 500;
    min-height: 38px;
    position: relative;
    font-size: 30px;
    color: #000;
}
section#calculate, section#cost{
    background: transparent url(../images/background4.png?crc=515203571) no-repeat center top;
    background-size: 155% 100%;
    min-height: 750px;
    padding-top: 300px;
    padding-bottom: 350px;
    position: relative;
    bottom: -17rem;
    z-index: -1;

    margin-top: -17rem;
}
section#cost {
	margin-top: -23rem;
}
section#preference.trade {
    background: #f7f6f7;
    padding-top: 45px;
    position: relative;
        padding-bottom: 200px;
    margin-top: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 71%, 0% 100%);
}

.cost-container {
    border-width: 10px;
    position: relative;
    z-index: 208;
    background-color: #F9F9F9;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.18), 0px 0px 20px rgba(0,0,0,0.18);
    border-color: #0035E5;
    border: 10px #0035E5 solid;
    margin-top: 65px;
}
.cost-image {
    width: 50%;
    float: left;
}
.cost-content {
    width: 50%;
    float: left;
}
.clearfix {clear: both;}
.cost-image img {
    width: 100%;
}
.cost-content {
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.cost-title {
    display: block;
    font-weight: 400;
    min-height: 70px;
    position: relative;
    z-index: 231;
    background-color: #F9DC21;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2), 0px 0px 8px rgba(0,0,0,0.2);
    font-family: '__DIN Pro_5';
    font-size: 30px;
    line-height: 70px;
    margin-top: -35px;
}
.cost-body {
    margin-top: 60px;
    font-family: '__DIN Pro_5';
    line-height: 29px;
    font-size: 24px;
}
.cost-body p span {
    font-weight: 700;
}
.product-img img {
    width: 100%;
}
.uk-card-media-top img {
    width: 100%;
}
.uk-navbar-toggle {
    color: #fff;
    background: #0F1168;
    
    min-height: 50px;
    height: 50px;
}
.uk-navbar-toggle.uk-open, .uk-navbar-toggle:focus, .uk-navbar-toggle:hover {color: #fff}
.burger {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 999;
}
section#service {
    background: #f7f6f7;
    padding-top: 60px;
}
.unic-block.reverse>.unic-image {
    float: right;
}
p.after-table {
    text-align: center;
}
/*.unic-image.img1 {
    background: url(../images/icon12.png?crc=3774104481) no-repeat center center;
}
.unic-image.img2 {
    background: url(../images/icon13.png?crc=63879058) no-repeat center center;
}*/
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:15px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:15px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-b6oo{font-size:15px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#ffffff;border-color:#f6f6f6;text-align:center}
.tg .tg-9ha0{font-size:15px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#322f8a;color:#ffffff;border-color:#f6f6f6;text-align:center}
.tg .tg-ytk8{font-size:15px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#f6f6f6;border-color:#f6f6f6;text-align:center}
.tg .tg-o1v5{font-size:15px;font-family:Arial, Helvetica, sans-serif !important;;background-color:#ffffff;border-color:#f6f6f6;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}


@media (max-width: 960px) {
	.contact-container {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
    padding-bottom: 15px;
	}
	.shedule {
    padding-left: 10px;
	}
	.shedule p{
		    font-size: 17px;
		    line-height: 20px;
	}
	p.phone a img {
	    width: 16px;
	}
	p.phone a {
	    font-size: 18px;
	}
	.top-adress {
	    text-align: right;
	    line-height: 20px;
	    font-size: 17px;
	    padding-left: 0px;
	}
	ul.uk-navbar-nav>li>a{
		line-height: 20px;
    font-size: 14px;
	}
	.menu-container {
    margin-top: 2rem;
    }
    .logo-container {
        max-width: 20%;
        display: inline-block;
        /* margin-left: 5%; */
        position: absolute;
        left: 5%;
        bottom: -3rem;
    }
    .description-text {
        width: 100%;
    }
    .desc-form {
        width: 100%;
        text-align: center;
    }
    form#callback-form {
        margin: 0 auto;
    }
    section#preference.trade{    padding-bottom: 240px;}
    section#catalog {
        margin-top: 20px;
    }
    .algorytm {
        float: right;
        width: 100%;
    }
    .map-form {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .top-socs {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
    .footer-logo {
        width: 16%;
        display: none;
        margin-left: 5%;
    }
    .top-socs p a {
        color: #FFFFFF;
        background-color: transparent;
        font-weight: 400;
        font-size: 17px;
        font-family: '__DIN Pro_5';
        line-height: 26px;
        text-decoration: none;
    }
    .contact-container.footer-cont {
        width: 90%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5%;
        padding-bottom: 15px;
    }
    .socials {
        width: 100%;
        display: inline-block;
        text-align: center;
        float: left;
        line-height: 85px;
        position: relative;
        /* line-height: 28px; */
        font-size: 40px;
    }
    .social1:after{
    	display: none;
    }
    .unic-image {
        display: inline-block;
        float: left;
        z-index: 999;
        position: relative;
        width: 30%;
    }
    .unic-content {
        display: inline-block;
        max-width: 70%;
        background: linear-gradient(to right,#EEEEEE ,#FFFFFF 100%);
        height: 197px;
        position: relative;
        left: -10%;
        float: left;
        padding-left: 12%;
        padding-top: 20px;
        z-index: 1;
    }
    .unic-content h3 {
        font-weight: 700;
        padding-right: 30px;
        font-size: 20px;
        font-family: '__DIN Pro_5';
        line-height: 25px;
    }
    .unic-content p {
        font-weight: 400;
        padding-right: 30px;
        font-size: 16px;
        font-family: '__DIN Pro_5';
        line-height: 19px;
    }
    section#price {
        background-size: 350% 100%;
    }
    .cost-image {
        width: 100%;
        float: left;
    }
    .cost-content {
        width: 100%;
        float: left;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
}
@media (max-width: 640px) {
.contact-container {
    margin: 0;
    text-align: center;
    width: 100%;
}
a.all-testimonials {
    width: 100%;
    line-height: 40px;
}
.mobile-logo {
    max-width: 30%;
    margin: 0 auto;
}
.top-adress {
    text-align: center;
    /* width: 100%; */
}
.top-socs {
    background: #0F1168;
    margin-top: 15px;
    padding-bottom: 15px;
}
p.phone a img {
    width: 23px;
    margin-left: 10px;
}
p.phone a {
    line-height: 35px;
    font-size: 20px;
}
.description-text {
    font-size: 24px;
    line-height: 30px;
}
form.callback-form {
        width: 300px;
}
button.btn-submit {
    width: 250px;
}
.block-title span {
    font-size: 22px;
    line-height: 27px;
}
.socials {
    font-size: 24px;
}
.map-form {
    position: relative;
}
.description-text span {
    font-size: 30px;
}
h3.form-title {
    font-size: 30px;
}
.unic-content {
    float: none;
    background: #efefef;
    height: auto;
}
.unic-block {
    margin-bottom: 20px;
}
section#price {
    margin-top: -35rem;
    background-size: 350% 100%;
    bottom: -25rem;
}
.description-text p {
    font-size: 20px;
}
section#preference.trade {
    clip-path: polygon(0% 0%, 100% 0%, 100% 101%, 0% 100%);
    padding-bottom: 40px;
}
.img-calculate {
    display: none;
}
.step {
    font-size: 18px;
    font-weight: 500;
}
.algorytm p a {
    font-size: 24px;
}
section#cost {
    background: #f7f6f7;
    margin-top: -17rem;
    padding-top: 15px;
}
.cost-title {
    line-height: 40px;
}
.top-image {
    display: none;
}
.shedule {
    margin-top: 15px;
}
.unic-block.reverse>.unic-image {
    float: left;
}
}
